* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Shared styles for all elements  */
.btn {
    background-color: #469165;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 #00000025;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: semi-bold;
    padding: 12px 24px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.btn:hover {
    background-color: #6fd39a;
    transition: 0.3s;
    color: #000000;
}

.StructureHading {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 20px;
}

.StructurePragraph {
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 20px;

}

/* navbar coding from here  */
#navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

#navBar ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

#navBar ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: medium;
    font-size: 16px;
}

#navBar ul li a:hover {
    color: #469165;
    font-weight: bold;
    transition: 0.3s;

}

#navBar .navLogo img {
    width: 139px;
    height: auto;
}


/* Hero section coding from here  */
.button-container {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

/* Badge container */
.badge {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 18px;
    background: #ffffff;
    border-radius: 999px;
    font-size: 15px;
    font-weight: 600;
    color: #3aa76d;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 4px 0 #00000025;
    margin-bottom: 10px;
}

.badge:hover {
    font-size: 17px;
    transition: 0.3s;

}

/* Green dot icon */
.dot {
    width: 12px;
    height: 12px;
    background-color: #3aa76d;
    border-radius: 50%;
    position: relative;
}

/* Glow effect */
.dot::after {
    content: "";
    position: absolute;
    inset: -4px;
    background: rgba(58, 167, 109, 0.3);
    border-radius: 50%;
}

.heroSection {

    background-image: linear-gradient(to bottom, #00000000 0%, #00000071 100%), url(./medias/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroContent {
    max-width: 1360px;
    width: 85%;
    margin: auto;
    text-align: center;

}

.heroContent h1 {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;


}

.heroContent h1 span {
    color: #3aa76d;
}

.heroContent p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 16px;

}

/* main body started from here  */

.firstStructure {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;

}

.StructureCard {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 40px;
}

.cardinfo {
    width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000013;
}

.cardinfo:hover {
    box-shadow: 0 8px 12px 0 #1b1a1a25;
    transition: 0.3s;
}


.round {
    width: 64px;
    height: 64px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 #00000025;
}

.cardinfo h3 {
    font-size: 24px;
    font-weight: semi-bold;
    color: #001931;
}

.cardinfo p {
    font-size: 16px;
    color: #627382;

}

.secondStructure {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    gap: 60px;
    width: 85%;
    margin: 80px auto;
}

.solution {
    font-size: 16px;
    font-weight: medium;
    color: #469165;
}

.CheckCircleContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}

.CheckCircle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.thirdStructure {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 80px;
    background-color: #F7F6F2;
    padding: 40px 60px;
    box-shadow: 0 4px 0 0 #00000013;
}

.thirdStructure:hover {
    box-shadow: 0 8px 12px 0 #1b1a1a25;
    transition: 0.3s;
    background-color: #99ceb22f;
    color: #ffffff;
}

footer {
    border: 2px solid #E1E4E8;
    background-color: #001931;
    color: #ffffff;
    text-align: center;
    padding: 120px 120px 30px 120px;
}

.footerUpSection {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.socialLinks {
    display: flex;
    gap: 20px;
}

.socialSection p {
    font-size: 20px;
    font-weight: medium;
    color: #ffffff;
    margin-bottom: 20px;
}

.socialLinks a {
    text-decoration: none;
}

.copywriteSection {
    margin-top: 20px;
    font-size: 16px;
    color: #ffffff;
}

hr {
    border: none;
    border-top: 1px solid #E1E4E8;
    opacity: 0.2;
}